.slick-dots {
  height: 1px;
  bottom: 0;
  top: 52%;
  left: -19px;

  & > li {
    & > button {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid #fff;
      cursor: pointer;
      position: relative;
      &::before {
        display: none;
      }
    }
  }
}
.slick-active {
  &::after {
    content: '';

    position: absolute;
    top: 60%;
    left: 60%;
    transform: translate(-50%, -50%);
    border-radius: 50%;

    width: 12px;
    height: 12px;
    background-color: #fff;
  }
}
