@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Syne', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

body,
h1,
ul,
li,
a,
h3,
p,
textarea,
input,
h2 {
  margin: 0;
  padding: 0;
}
